 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 528px;
}

.u-section-1 .u-shape-1 {
  height: 408px;
  width: 532px;
  background-image: none;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -384px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-line-1 {
  height: 298px;
  transform-origin: center top 0px;
  width: 0;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px 30px 30px;
}

.u-section-1 .u-text-1 {
  margin: 23px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 23px 14px 0 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-shape-1 {
    height: 457px;
    width: 407px;
    margin-right: auto;
    margin-left: 135px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 2043px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-shape-1 {
    height: 673px;
    width: 271px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1286px;
  }
} .u-section-2 {
  min-height: 1113px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 400px;
  background-image: none;
  margin: 177px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 640px);
  height: 530px;
  margin: -577px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 526px;
  height: 592px;
  margin: -418px auto 0 calc(((100% - 1140px) / 2) + 191px);
}

.u-section-2 .u-group-1 {
  width: 456px;
  min-height: 459px;
  margin: -219px calc(((100% - 1140px) / 2) + 133px) 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-2 .u-group-2 {
  min-height: 399px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 15px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 54px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-group-3 {
  width: 518px;
  min-height: 310px;
  margin: -171px auto 0 calc(((100% - 1140px) / 2) + 14px);
}

.u-section-2 .u-container-layout-3 {
  padding-left: 15px;
}

.u-section-2 .u-text-3 {
  line-height: 1.7;
  font-size: 1.5rem;
  font-style: italic;
  margin: 0 10px 0 33px;
}

.u-section-2 .u-shape-3 {
  width: 14px;
  height: 301px;
  margin: -310px auto 9px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1331px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 490px);
    margin-top: 140px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 576px);
    height: 451px;
    margin-top: -540px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -348px;
    margin-right: 350px;
    margin-left: calc(((100% - 940px) / 2) + 114px);
  }

  .u-section-2 .u-group-1 {
    width: 511px;
    min-height: 435px;
    margin-top: -224px;
    margin-right: calc(((100% - 940px) / 2) + 78px);
  }

  .u-section-2 .u-group-2 {
    min-height: 375px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 39px;
    margin-left: calc(((100% - 940px) / 2) + 14px);
  }

  .u-section-2 .u-shape-3 {
    margin-top: -305px;
    margin-bottom: 70px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1295px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 490px);
    margin-top: 157px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 517px);
    height: 431px;
    margin-top: -557px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -359px;
    margin-right: 194px;
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }

  .u-section-2 .u-group-1 {
    margin-top: -223px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-3 {
    margin-top: 31px;
    margin-left: calc(((100% - 720px) / 2) + 14px);
  }

  .u-section-2 .u-shape-3 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1285px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 490px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 422px);
    height: 421px;
  }

  .u-section-2 .u-image-1 {
    width: 477px;
    margin-top: -349px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-2 .u-group-1 {
    width: 440px;
    min-height: 405px;
    margin-top: -164px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-2 {
    min-height: 341px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-group-3 {
    min-height: 302px;
    margin-top: 8px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-3 {
    width: 12px;
    height: 302px;
    margin-top: -302px;
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1405px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 314px);
    height: 431px;
    margin-top: 93px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 298px);
    height: 407px;
    margin-top: -524px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 422px;
    margin-top: -343px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 314px;
    min-height: 414px;
    margin-top: -43px;
    margin-right: 50px;
  }

  .u-section-2 .u-group-2 {
    min-height: 317px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-3 {
    width: 314px;
    min-height: 435px;
    margin-top: 54px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-3 {
    height: 423px;
    margin-top: -435px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1327px;
}

.u-section-3 .u-gallery-1 {
  height: 777px;
  grid-template-columns: auto auto auto auto;
  margin-top: 63px;
  margin-bottom: 0;
  grid-gap: 9px 9px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 9px 9px;
}

.u-section-3 .u-gallery-item-1 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  object-position: 50% 50%;
}

.u-section-3 .u-back-slide-6 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 364px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 285px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-3 .u-gallery-1 {
    height: 640px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1566px;
  }

  .u-section-3 .u-gallery-1 {
    grid-template-columns: repeat(2, auto);
    height: 1113px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3925px;
  }

  .u-section-3 .u-gallery-1 {
    grid-template-columns: repeat(1, auto);
    height: 3550px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2693px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2249px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}